.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.user-card {
  max-width: 800px;
  margin: 0 auto;
}

.user-card .main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card .main div {
  padding: 2rem;
}

.user-card .main img {
  width: 100%;
  max-width: 200px;
}

.user-card .github-chart img {
  width: 100%;
}